Repository Maksasj/bebone, pull requests merged in 2024-07, with the labels that each got.

#121 Removed InputHandler field from Window class
  examples/core/input/0_input_keyboard/main.cpp
  examples/gfx/opengl/5_opengl_flappy_bird/main.cpp
  src/bebone/gfx/window/window.cpp
  src/bebone/gfx/window/window.h
Labels: Core, Input

#134 Added delta time
  examples/gfx/opengl/3_opengl_3d_cube/main.cpp
  examples/gfx/opengl/5_opengl_flappy_bird/core/entity_component_system/components/cyclic_movement.cpp
  examples/gfx/opengl/5_opengl_flappy_bird/core/entity_component_system/components/flying.cpp
  examples/gfx/opengl/5_opengl_flappy_bird/core/entity_component_system/components/flying.h
  examples/gfx/opengl/5_opengl_flappy_bird/core/game.h
  examples/gfx/opengl/5_opengl_flappy_bird/core/game_time.cpp
  examples/gfx/opengl/5_opengl_flappy_bird/core/game_time.h
  examples/gfx/opengl/5_opengl_flappy_bird/main.cpp
  examples/gfx/vulkan/3_vulkan_3d_cube/main.cpp
  src/bebone/core/core.h
  src/bebone/core/timestamp/timestamp.cpp
  src/bebone/core/timestamp/timestamp.h
  src/bebone/core/timestamp/watch.cpp
  src/bebone/core/timestamp/watch.h
  src/bebone/gfx/window/window.cpp
  src/bebone/gfx/window/window.h
Labels: Core

#133 Refactor Vulkan Framebuffers and Render target
  examples/gfx/vulkan/1_vulkan_hello_triangle/main.cpp
  examples/gfx/vulkan/2_vulkan_texture/main.cpp
  examples/gfx/vulkan/3_vulkan_3d_cube/main.cpp
  examples/gfx/vulkan/4_vulkan_bloom/blur.frag.glsl
  examples/gfx/vulkan/4_vulkan_bloom/geometry.frag.glsl
  examples/gfx/vulkan/4_vulkan_bloom/geometry.vert.glsl
  examples/gfx/vulkan/4_vulkan_bloom/main.cpp
  examples/gfx/vulkan/4_vulkan_bloom/post.frag.glsl
  examples/gfx/vulkan/4_vulkan_bloom/post.vert.glsl
  src/bebone/gfx/vulkan/vulkan_api.h
  src/bebone/gfx/vulkan/vulkan_attachment.cpp
  src/bebone/gfx/vulkan/vulkan_attachment.h
  src/bebone/gfx/vulkan/vulkan_command_buffer.cpp
  src/bebone/gfx/vulkan/vulkan_command_buffer.h
  src/bebone/gfx/vulkan/vulkan_device.cpp
  src/bebone/gfx/vulkan/vulkan_device.h
  src/bebone/gfx/vulkan/vulkan_framebuffer.cpp
  src/bebone/gfx/vulkan/vulkan_framebuffer.h
  src/bebone/gfx/vulkan/vulkan_pipeline.cpp
  src/bebone/gfx/vulkan/vulkan_pipeline.h
  src/bebone/gfx/vulkan/vulkan_pipeline_manager.cpp
  src/bebone/gfx/vulkan/vulkan_pipeline_manager.h
  src/bebone/gfx/vulkan/vulkan_pipeline_tuples.cpp
  src/bebone/gfx/vulkan/vulkan_pipeline_tuples.h
  src/bebone/gfx/vulkan/vulkan_render_pass.cpp
  src/bebone/gfx/vulkan/vulkan_render_pass.h
  src/bebone/gfx/vulkan/vulkan_render_target.cpp
  src/bebone/gfx/vulkan/vulkan_render_target.h
  src/bebone/gfx/vulkan/vulkan_swap_chain.cpp
  src/bebone/gfx/vulkan/vulkan_swap_chain.h
  src/bebone/gfx/vulkan/vulkan_texture.cpp
  src/bebone/gfx/vulkan/vulkan_texture.h
Labels: GFX

#139 Rewrote ShaderTypes class
  README.md
  docs/CORE.md
  docs/GFX.md
  examples/assets/0_assets_image_basic/main.cpp
  examples/assets/1_assets_image_advance/main.cpp
  examples/core/events/0_events_event_listeners/main.cpp
  examples/core/input/0_input_keyboard/main.cpp
  examples/core/input/1_input_utility_functions/main.cpp
  examples/gfx/begui/0_begui_node_graph/main.cpp
  examples/gfx/opengl/0_opengl_window/main.cpp
  examples/gfx/opengl/1_opengl_hello_triangle/main.cpp
  examples/gfx/opengl/2_opengl_texture/main.cpp
  examples/gfx/opengl/3_opengl_3d_cube/main.cpp
  examples/gfx/opengl/4_opengl_bexel/bexel.cpp
  examples/gfx/opengl/5_opengl_flappy_bird/core/game.cpp
  examples/gfx/opengl/5_opengl_flappy_bird/main.cpp
  examples/gfx/opengl/6_opengl_imgui/main.cpp
  examples/gfx/vulkan/0_vulkan_window/main.cpp
  examples/gfx/vulkan/1_vulkan_hello_triangle/main.cpp
  examples/gfx/vulkan/2_vulkan_texture/main.cpp
  examples/gfx/vulkan/3_vulkan_3d_cube/main.cpp
  examples/renderer/0_renderer_window/main.cpp
  examples/renderer/1_renderer_hello_triangle/main.cpp
  examples/renderer/2_renderer_sprite/main.cpp
  examples/renderer/3_renderer_mesh/main.cpp
  src/bebone/gfx/opengl/opengl_shader.cpp
  src/bebone/gfx/shaders/shader_type.cpp
  src/bebone/gfx/shaders/shader_type.h
  src/bebone/gfx/shaders/spirv_shader_compiler.cpp
  src/bebone/gfx/vulkan/vulkan_pipeline.cpp
  src/bebone/gfx/vulkan/vulkan_pipeline_manager.cpp
  src/bebone/gfx/window/window_factory.cpp
Labels: GFX

#155 hello triangle working example
  examples/renderer/1_renderer_hello_triangle/fragment.glsl
  examples/renderer/1_renderer_hello_triangle/vertex.glsl
  src/bebone/renderer/opengl/opengl_renderer.cpp
  src/bebone/renderer/opengl/opengl_renderer.h
Labels: Renderer

#179 Rewrote Vectors, Matrices
  examples/gfx/opengl/3_opengl_3d_cube/main.cpp
  examples/gfx/opengl/4_opengl_bexel/camera.cpp
  examples/gfx/opengl/4_opengl_bexel/camera.h
  examples/gfx/opengl/4_opengl_bexel/mesh/vertex.h
  examples/gfx/opengl/5_opengl_flappy_bird/assets/vertex.glsl
  examples/gfx/opengl/5_opengl_flappy_bird/core/batch.cpp
  examples/gfx/opengl/5_opengl_flappy_bird/core/finite_state_machine/states/game_state.cpp
  examples/gfx/vulkan/3_vulkan_3d_cube/main.cpp
  src/bebone/core/types/matrix/matrix.tpp
  src/bebone/core/types/matrix/matrix_2x2.cpp
  src/bebone/core/types/matrix/matrix_2x2.h
  src/bebone/core/types/matrix/matrix_2x2.tpp
  src/bebone/core/types/matrix/matrix_3x3.cpp
  src/bebone/core/types/matrix/matrix_3x3.h
  src/bebone/core/types/matrix/matrix_4x4.cpp
  src/bebone/core/types/matrix/matrix_4x4.h
  src/bebone/core/types/matrix/matrix_4x4.tpp
  src/bebone/core/types/matrix/matrix_types.h
  src/bebone/core/types/utils/proper_euler_angles.h
  src/bebone/core/types/utils/trait_bryan_angles.h
  src/bebone/core/types/vector/vector2_type.tpp
  src/bebone/core/types/vector/vector3_type.tpp
  src/bebone/core/types/vector/vector4_type.tpp
  src/bebone/gfx/opengl/opengl_shader_program.cpp
  tests/core/types/matrix/bebone_types_matrix_multiplication_tests_1.cpp
  tests/core/types/matrix2x2_tests.cpp
  tests/core/types/matrix3x3_tests.cpp
  tests/core/types/matrix4x4_tests.cpp
  tests/core/types/vector2_tests.cpp
  tests/core/types/vector3_tests.cpp
  tests/core/types/vector4_tests.cpp
Labels: Core
