Repository Maksasj/bebone, pull requests merged in 2024-06, with the labels that each got.

#23 Cmake refactoring
  CMakeLists.txt
  examples/CMakeLists.txt
  examples/assets/0_assets_image_basic/CMakeLists.txt
  examples/assets/1_assets_image_advance/CMakeLists.txt
  examples/core/events/0_events_event_listeners/CMakeLists.txt
  examples/core/events/1_events_action_delegate/CMakeLists.txt
  examples/core/input/0_input_keyboard/CMakeLists.txt
  examples/gfx/begui/0_begui_node_graph/CMakeLists.txt
  examples/gfx/opengl/0_opengl_window/CMakeLists.txt
  examples/gfx/opengl/1_opengl_hello_triangle/CMakeLists.txt
  examples/gfx/opengl/2_opengl_texture/CMakeLists.txt
  examples/gfx/opengl/3_opengl_3d_cube/CMakeLists.txt
  examples/gfx/opengl/4_opengl_bexel/CMakeLists.txt
  examples/gfx/opengl/4_opengl_bexel/bexel.h
  examples/gfx/opengl/4_opengl_bexel/camera.h
  examples/gfx/opengl/4_opengl_bexel/mesh/vertex.h
  examples/gfx/opengl/4_opengl_bexel/renderable.h
  examples/gfx/opengl/4_opengl_bexel/transform.h
  examples/gfx/opengl/4_opengl_bexel/world/chunk.h
  examples/gfx/opengl/4_opengl_bexel/world/tiles/block.cpp
  examples/gfx/opengl/4_opengl_bexel/world/tiles/tile_block.h
  examples/gfx/opengl/5_opengl_flappy_bird/CMakeLists.txt
  examples/gfx/opengl/6_opengl_imgui/CMakeLists.txt
  examples/gfx/vulkan/0_vulkan_window/CMakeLists.txt
  examples/gfx/vulkan/1_vulkan_hello_triangle/CMakeLists.txt
  examples/gfx/vulkan/2_vulkan_3d_cube/CMakeLists.txt
  src/bebone/CMakeLists.txt
  src/bebone/bebone.h
  src/bebone/core/CMakeLists.txt
  src/bebone/gfx/CMakeLists.txt
  src/bebone/renderer/CMakeLists.txt
  src/bebone/renderer/irenderer.cpp
  src/bebone/renderer/irenderer.h
  src/bebone/renderer/opengl/opengl_renderer.h
  src/bebone/renderer/renderer.h
  src/bebone/renderer/renderer_backend.h
  src/bebone/renderer/vertex.h
  src/bebone/renderer/vulkan/vulkan_renderer.h
Labels: Bebone

#39 Renamed docs files
  docs/CORE.md
  docs/GFX.md
Labels: Documentation

#49 Added Vec2i variants for ImagePainter methods
  src/bebone/assets/image/image_painter.cpp
  src/bebone/assets/image/image_painter.h
Labels: Assets

#50 Move get_view_matrix function to core/types/matrix
  examples/gfx/vulkan/2_vulkan_3d_cube/main.cpp
  src/bebone/core/types/matrix/matrix_4x4.tpp
Labels: GFX

#57 Vulkan image memory tuple
  src/bebone/gfx/vulkan/vulkan_device.cpp
  src/bebone/gfx/vulkan/vulkan_device.h
  src/bebone/gfx/vulkan/vulkan_image.h
  src/bebone/gfx/vulkan/vulkan_texture.cpp
Labels: GFX

#52 Use std::tuple instead of struct Tuples in Vulkan module
  examples/gfx/vulkan/1_vulkan_hello_triangle/main.cpp
  examples/gfx/vulkan/2_vulkan_3d_cube/main.cpp
  src/bebone/gfx/vulkan/vulkan_buffer.h
  src/bebone/gfx/vulkan/vulkan_descriptor_pool.cpp
  src/bebone/gfx/vulkan/vulkan_device.h
  src/bebone/gfx/vulkan/vulkan_device_memory.cpp
  src/bebone/gfx/vulkan/vulkan_device_memory.h
  src/bebone/gfx/vulkan/vulkan_image.h
  src/bebone/gfx/vulkan/vulkan_pipeline_config_info.h
  src/bebone/gfx/vulkan/vulkan_render_target.cpp
  src/bebone/gfx/vulkan/vulkan_swap_chain.cpp
  src/bebone/gfx/vulkan/vulkan_swap_chain.h
Labels: GFX

#45 Vulkan pipeline manager
  examples/gfx/vulkan/2_vulkan_3d_cube/main.cpp
  src/bebone/gfx/vulkan/vulkan_api.h
  src/bebone/gfx/vulkan/vulkan_const_range.cpp
  src/bebone/gfx/vulkan/vulkan_descriptor_pool.h
  src/bebone/gfx/vulkan/vulkan_descriptor_set_layout_binding.h
  src/bebone/gfx/vulkan/vulkan_device.cpp
  src/bebone/gfx/vulkan/vulkan_device.h
  src/bebone/gfx/vulkan/vulkan_pipeline.h
  src/bebone/gfx/vulkan/vulkan_pipeline_manager.cpp
  src/bebone/gfx/vulkan/vulkan_pipeline_manager.h
Labels: GFX

#75 Added destroyed flag to VulkanApi class
  src/bebone/gfx/vulkan/vulkan_const_range.h
  src/bebone/gfx/vulkan/vulkan_descriptor_pool.cpp
  src/bebone/gfx/vulkan/vulkan_texture.h
  src/bebone/gfx/vulkan/vulkan_wrapper.cpp
  src/bebone/gfx/vulkan/vulkan_wrapper.tpp
Labels: GFX

#96 VulkanInstance moved outside of VulkanDevice
  examples/gfx/vulkan/1_vulkan_hello_triangle/main.cpp
  examples/gfx/vulkan/2_vulkan_texture/main.cpp
  examples/gfx/vulkan/3_vulkan_3d_cube/main.cpp
  src/bebone/gfx/vulkan/vulkan_device.cpp
  src/bebone/gfx/vulkan/vulkan_device.h
  src/bebone/gfx/vulkan/vulkan_instance.cpp
  src/bebone/gfx/vulkan/vulkan_instance.h
Labels: GFX

#79 VulkanDevice manages all child vulkan objects
  TODO.md
  examples/gfx/vulkan/1_vulkan_hello_triangle/main.cpp
  examples/gfx/vulkan/2_vulkan_texture/main.cpp
  examples/gfx/vulkan/3_vulkan_3d_cube/main.cpp
  src/bebone/gfx/vulkan/vulkan_buffer.cpp
  src/bebone/gfx/vulkan/vulkan_buffer.h
  src/bebone/gfx/vulkan/vulkan_command_buffer_pool.cpp
  src/bebone/gfx/vulkan/vulkan_descriptor_pool.cpp
  src/bebone/gfx/vulkan/vulkan_descriptor_set_layout.cpp
  src/bebone/gfx/vulkan/vulkan_device.cpp
  src/bebone/gfx/vulkan/vulkan_device.h
  src/bebone/gfx/vulkan/vulkan_device_memory.cpp
  src/bebone/gfx/vulkan/vulkan_device_memory.h
  src/bebone/gfx/vulkan/vulkan_framebuffer.cpp
  src/bebone/gfx/vulkan/vulkan_framebuffer.h
  src/bebone/gfx/vulkan/vulkan_image.cpp
  src/bebone/gfx/vulkan/vulkan_image.h
  src/bebone/gfx/vulkan/vulkan_image_view.cpp
  src/bebone/gfx/vulkan/vulkan_image_view.h
  src/bebone/gfx/vulkan/vulkan_pipeline.cpp
  src/bebone/gfx/vulkan/vulkan_pipeline_layout.cpp
  src/bebone/gfx/vulkan/vulkan_pipeline_manager.cpp
  src/bebone/gfx/vulkan/vulkan_render_pass.cpp
  src/bebone/gfx/vulkan/vulkan_render_target.cpp
  src/bebone/gfx/vulkan/vulkan_render_target.h
  src/bebone/gfx/vulkan/vulkan_sampler.cpp
  src/bebone/gfx/vulkan/vulkan_sampler.h
  src/bebone/gfx/vulkan/vulkan_shader_module.cpp
  src/bebone/gfx/vulkan/vulkan_swap_chain.cpp
  src/bebone/gfx/vulkan/vulkan_swap_chain.h
  src/bebone/gfx/vulkan/vulkan_texture.cpp
  src/bebone/gfx/vulkan/vulkan_texture.h
Labels: GFX

#68 update_descriptor_set* functions moved outside VulkanDescriptorPool class
  examples/gfx/vulkan/2_vulkan_texture/main.cpp
  examples/gfx/vulkan/3_vulkan_3d_cube/main.cpp
  src/bebone/gfx/vulkan/vulkan_api.h
  src/bebone/gfx/vulkan/vulkan_buffer.cpp
  src/bebone/gfx/vulkan/vulkan_buffer.h
  src/bebone/gfx/vulkan/vulkan_buffer_tuples.cpp
  src/bebone/gfx/vulkan/vulkan_buffer_tuples.h
  src/bebone/gfx/vulkan/vulkan_command_buffer.cpp
  src/bebone/gfx/vulkan/vulkan_command_buffer.h
  src/bebone/gfx/vulkan/vulkan_descriptor_pool.cpp
  src/bebone/gfx/vulkan/vulkan_descriptor_pool.h
  src/bebone/gfx/vulkan/vulkan_descriptor_set_layout.h
  src/bebone/gfx/vulkan/vulkan_device.cpp
  src/bebone/gfx/vulkan/vulkan_device.h
  src/bebone/gfx/vulkan/vulkan_device_chooser.cpp
  src/bebone/gfx/vulkan/vulkan_image.h
  src/bebone/gfx/vulkan/vulkan_image_tuples.cpp
  src/bebone/gfx/vulkan/vulkan_image_tuples.h
  src/bebone/gfx/vulkan/vulkan_pipeline_manager.cpp
  src/bebone/gfx/vulkan/vulkan_pipeline_manager.h
  src/bebone/gfx/vulkan/vulkan_pipeline_tuples.cpp
  src/bebone/gfx/vulkan/vulkan_pipeline_tuples.h
  src/bebone/gfx/vulkan/vulkan_render_target.cpp
  src/bebone/gfx/vulkan/vulkan_swap_chain.cpp
  src/bebone/gfx/vulkan/vulkan_texture.h
Labels: GFX

#107 Tests for event systems
  tests/unit/bebone/core/CMakeLists.txt
  tests/unit/bebone/core/events/CMakeLists.txt
  tests/unit/bebone/core/events/delegates/CMakeLists.txt
  tests/unit/bebone/core/events/delegates/bebone_events_delegates_tests_1.cpp
  tests/unit/bebone/core/events/listeners/CMakeLists.txt
  tests/unit/bebone/core/events/listeners/bebone_events_listeners_tests_1.cpp
  tests/unit/bebone/core/memory/CMakeLists.txt
  tests/unit/bebone/core/memory/bebone_arena_allocator_tests_1.cpp
  tests/unit/bebone/core/memory/bebone_arena_container_tests_1.cpp
Labels: Testing

#106 destroy() for Vulkan image tuples
  src/bebone/gfx/vulkan/vulkan_buffer_tuples.cpp
  src/bebone/gfx/vulkan/vulkan_command_buffer.cpp
  src/bebone/gfx/vulkan/vulkan_descriptor_set.cpp
  src/bebone/gfx/vulkan/vulkan_descriptor_set_layout_binding.cpp
  src/bebone/gfx/vulkan/vulkan_image_tuples.cpp
  src/bebone/gfx/vulkan/vulkan_pipeline_tuples.cpp
  src/bebone/gfx/vulkan/vulkan_texture.cpp
Labels: GFX

#105 VulkanImage save image extent to member variables and refactor copy_buffer_to_image
  src/bebone/gfx/vulkan/vulkan_command_buffer_pool.cpp
  src/bebone/gfx/vulkan/vulkan_command_buffer_pool.h
  src/bebone/gfx/vulkan/vulkan_image.cpp
  src/bebone/gfx/vulkan/vulkan_image.h
  src/bebone/gfx/vulkan/vulkan_texture.cpp
Labels: GFX

#116 Removed singleton usage from Input module
  examples/core/input/0_input_keyboard/main.cpp
  examples/gfx/opengl/5_opengl_flappy_bird/core/entity_component_system/components/flying.cpp
  examples/gfx/opengl/5_opengl_flappy_bird/core/entity_component_system/components/flying.h
  examples/gfx/opengl/5_opengl_flappy_bird/core/finite_state_machine/states/end_game_state.cpp
  examples/gfx/opengl/5_opengl_flappy_bird/core/finite_state_machine/states/end_game_state.h
  examples/gfx/opengl/5_opengl_flappy_bird/core/finite_state_machine/states/game_state.cpp
  examples/gfx/opengl/5_opengl_flappy_bird/core/finite_state_machine/states/game_state.h
  examples/gfx/opengl/5_opengl_flappy_bird/core/finite_state_machine/states/main_menu_state.cpp
  examples/gfx/opengl/5_opengl_flappy_bird/core/finite_state_machine/states/main_menu_state.h
  examples/gfx/opengl/5_opengl_flappy_bird/core/game.cpp
  examples/gfx/opengl/5_opengl_flappy_bird/core/game.h
  examples/gfx/opengl/5_opengl_flappy_bird/main.cpp
  src/bebone/core/core.h
  src/bebone/core/events/listeners/event_listener.tpp
  src/bebone/core/input/input.cpp
  src/bebone/core/input/input.h
  src/bebone/core/input/input_handler.cpp
  src/bebone/core/input/input_handler.h
  src/bebone/core/input/key_listener.cpp
  src/bebone/core/input/key_listener.h
  src/bebone/core/input/mouse_listener.cpp
  src/bebone/core/input/mouse_listener.h
  src/bebone/gfx/window/window.cpp
  src/bebone/gfx/window/window.h
Labels: Core, Input
